<div>
  <div id="myMenu" class="menu">
    <a href="javascript:void(0)" class="closebtn" (click)="closeMenu()">&times;</a>
    <div class="category">
      <div class="border-bottom border-top br-about">
        <a href="#">About</a>
    </div>
    <div class="border-bottom">
        <a href="#">All</a>
    </div>
    <div class="border-bottom">
        <a href="#">Herbivore</a>
        <a href="#">Carnivore</a>
        <a href="#">Insect</a>
        <a href="#">Flying</a>
    </div>
        <a href="#">Height</a>
        <a href="#">Compare</a>
    </div>  
</div>
    
</div>

<div id="main">
    <button class="openbtn float-right" (click)="openMenu()">☰</button>  
</div>