.br-about{
    background-color: rgb(255, 254, 254);
    color: black;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menu a:hover {
      color:  #3eb7f0;
  }
  .category a:hover{
      color: white;
      background-color: #3eb7f0;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3eb7f0;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .closebtn:hover{

  }
  .openbtn:hover {
    background-color: #818181;
  }
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
  }

  